@import '@/styles/variables.scss';

.listedCardWrapper {
    min-width: 676px;
    height: 788px;
    position: relative;
    border-radius: 20px;
    padding: 80px;
}

.listedCardBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 20px;
}

.listedTextWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 76px;
    position: relative;
}

.listedTextBox {
    flex-basis: calc(50% - 38px);
    text-align: center;
    padding-block: 10px;

    p {
        color: $gray200;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 8px;
    }

    h3 {
        color: $white;
        font-size: 3rem;
        font-weight: 700;
        line-height: 38px;
    }
}

.listedCardImage {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: auto;
    height: auto;
    border-bottom-right-radius: 20px;
}

@media screen and (max-width: 1300px) {
    .listedCardWrapper {
        min-width: auto;
        flex-basis: 55%;
    }

    .listedTextWrapper {
        gap: 30px 40px;
    }

    .listedCardImage {
        max-width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .listedCardWrapper {
        flex-basis: 100%;
        height: 891px;
    }
}

@media screen and (max-width: 991px) {
    .listedCardWrapper {
        padding: 90px;
    }

    .listedTextBox {
        p {
            font-size: 1.5rem;
            line-height: 22px;
        }

        h3 {
            font-size: 3.3rem;
            line-height: 42px;
        }
    }
}

@media screen and (max-width: 768px) {
    .listedCardWrapper {
        padding: 32px;
        height: 700px;
    }

    .listedTextWrapper {
        gap: 17px 24px;
    }

    .listedTextBox {
        p {
            font-size: 1.2rem;
            line-height: 18px;
        }

        h3 {
            font-size: 2rem;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 425px) {
    .listedCardWrapper {
        height: 500px;
    }
}