@import '@/styles/variables.scss';

.navLinksWrapper {
    display: flex;
    align-items: center;
    gap: 16px;

    ul {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    li {
        padding: 8px 12px;
        border-radius: 6px;

        a {
            color: $gray700;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 24px;
        }

        &:hover {
            background-color: $gray50;

            a {
                color: $gray800;
            }
        }
    }

    @media screen and (max-width: 991px) {
        display: none;
    }
}