@import '@/styles/variables.scss';

.propertiesContainer {
    display: flex;
    justify-content: space-between;
    gap: 29px;
    overflow-x: scroll;

    @media screen and (max-width: 578px) {
        gap: 17px;
    }
}