@import '@/styles/variables.scss';

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 12px;

    ul,
    nav {
        display: flex;
        align-items: center;
    }

    nav {
        gap: 16px;
    }

    ul {
        gap: 4px;
    }

    li {
        padding: 8px 12px;
        border-radius: 6px;

        a {
            color: $gray700;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 24px;
        }

        &:hover {
            background-color: $gray50;

            a {
                color: $gray800;
            }
        }
    }

    @media screen and (max-width: 991px) {
        padding-block: 20px;
        nav {
            display: none;
        }
    }
    
    @media (min-width: 991px) {        
        .toggleIcon {
            display: none;
        }
    }
    
    @media (max-width: 768px) { 
        padding-block: 24px; 
        padding-inline: 24px;      
        .logo {            
            max-width: 154px;        
        }   
    }
}