@import '@/styles/variables.scss';

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 12px;

    ul,
    nav {
        display: flex;
        align-items: center;
    }

    nav {
        gap: 16px;
    }

    ul {
        gap: 4px;
    }

    li {
        padding: 8px 12px;
        border-radius: 6px;

        a {
            color: $gray700;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 24px;
        }

        &:hover {
            background-color: $gray50;

            a {
                color: $gray800;
            }
        }
    }
}

.logo {
    @media (max-width: 568px) {
        max-width: 154px;
    }
}